<div class="container" >

<div class="markdown-body">
      <h1>
<a name="sheepgrid" class="anchor" href="#sheepgrid"><span class="octicon octicon-link"></span></a>sheepgrid</h1>

<p>demo site : <a href="http://sheepgrid.herokuapp.com/multi.html">http://sheepgrid.herokuapp.com/multi.html</a></p>

<p>web app with angular.js and bootstrap</p>

<p>This is made with these traits.</p>

<h1>
<a name="0-yeoman-and-bower" class="anchor" href="#0-yeoman-and-bower"><span class="octicon octicon-link"></span></a>0. yeoman and bower</h1>

<h1>
<a name="1-angularjs" class="anchor" href="#1-angularjs"><span class="octicon octicon-link"></span></a>1. angular.js</h1>

<pre><code> https://github.com/doohee323/sheepgrid.git
</code></pre>

<h1>
<a name="2-bootstrap" class="anchor" href="#2-bootstrap"><span class="octicon octicon-link"></span></a>2. bootstrap</h1>

<h1>
<a name="3-server-side" class="anchor" href="#3-server-side"><span class="octicon octicon-link"></span></a>3. server-side</h1>

<pre><code> - ruby on rails : https://github.com/doohee323/sheepshare
 - or springframework : https://github.com/doohee323/tz.sheepshare
</code></pre>

<h1>
<a name="4-socketio" class="anchor" href="#4-socketio"><span class="octicon octicon-link"></span></a>4. socket.io</h1>

<pre><code> - broadcast : https://github.com/doohee323/sheepsocket
</code></pre>

<p>this app is deployed at heroku</p>

<p><a href="http://sheepgrid.herokuapp.com">http://sheepgrid.herokuapp.com</a></p>

<p><a href="http://sheepgrid.herokuapp.com/multi.html">http://sheepgrid.herokuapp.com/multi.html</a> : broadcast test</p>

<p>There are some articles related with this app.</p>

<ul>
<li>
<p>Deploy angular.js app in heroku with yeoman</p>

<ul>
<li><a href="http://doohee323.blogspot.kr/2013/10/deploy-angularjs-app-in-heroku-with.html">http://doohee323.blogspot.kr/2013/10/deploy-angularjs-app-in-heroku-with.html</a></li>
</ul>
</li>
<li>
<p>Porting rails from git to heroku</p>

<ul>
<li><a href="http://doohee323.blogspot.kr/2013/10/porting-rails-from-git-to-heroku.html">http://doohee323.blogspot.kr/2013/10/porting-rails-from-git-to-heroku.html</a></li>
</ul>
</li>
</ul>
    </div>
    
</div>